@import "./../../sass/main";

.logo-container {
  border: solid green 2px;
  flex-basis: 33.33%;
  @include display-flex-column-center;
  & img {
    border: solid red 1px;
    max-width: 40%;
    max-height: 40%;
  }

  & span {
    color: $primary-text-colour;
    font-family: $primary-text-font;
    font-size: 24px;
    font-weight: bolder;
  }
}
