@import "./../../sass/main";

.create-commentpost-container {
  @include dark-panel-bordered;
  position: absolute;
  left:0;
  right:0;
  padding: 20px;
  min-height: 80vh;
}

@media only screen and (min-width: 790px) {
  .create-commentpost-container {
    max-width: 790px;
    margin: auto;
  }
}
