@import "./../../sass/main";

.login-form-container {
  color: $primary-text-colour;
  font-family: $primary-text-font;
  & form {
    @include display-flex-column-center;
    justify-items: center;
    & #login-form-title {
      font-size: 20px;
      font-weight: $font-weight-semibold;
    }
  }

  & .login-form-inputs-container {
    @include display-flex-column-center;
    height: 240px;
    width: 220px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.login-form-btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.signin1-enter {
  opacity: 0;
  transform: scale(0.2);
}
.signin1-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.signin1-exit {
  opacity: 1;
}
.signin1-exit-active {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 300ms, transform 300ms;
}
