
.card {
  overflow: hidden;
  box-shadow: 2px 3px 12px -6px rgba(0,0,0,0.75);
  border: 1px solid darkgrey;
  transition: all 300ms;
  &:hover {
    box-shadow: 3px 4px 13px -4px rgba(0,0,0,0.80);
  }
}
