$primary-text-font: "Segoe UI", serif;

$font-weight-semibold: 600;


//FONT COLORS
$primary-text-colour: #ffffff;
$grey-text-colour: #707070;


//FONT SIZES
$s_tab-font-size: 18px;
$b_tab-font-size: 25px;
$s_btn-font-size: 16px;
$b_btn-font-size: 25px;

$important-announce-title-font-size: 20px;
$important-announce-content-font-size: 14px;

$filter-font-size: 18px;

$post-content-font-size: 12px;
$post-title-font-size: 18px;
$post-sub-font-size: 16px;
$post-user-font-size: 16px;
$post-numbers-font-size: 14px;

$user-details-nickname-font-size: 22px;
$user-details-name-font-size: 14px;
$user-details-job-font-size: 14px;
$user-details-title-font-size: 18px;

$b_settings-acc-sub-title: 25px;
$s_settings-acc-sub-title: 16px;
