.menu-list {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media only screen and (min-width: $break-large) {
  .menu-list {
    height: 100%;
    width: 100%;
    flex-wrap: initial;
    align-items: stretch;
  }
}
