.menu-list {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media only screen and (min-width: $break-large) {
  .menu-list {
    height: 100%;
    width: 28%;
  }
}

@media only screen and (min-width: $break-small) and (max-width: $break-large) {
  .menu-list {
    height: 100%;
    width: 45%;
  }
}
