html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  outline:none;
  color: inherit;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 54px;
}
