@import "./sass/main";

.App {
  background-color: $primary-bg-colour;
  display: flex;//TODO: display in otherway to make cool animation depending on screen size
  flex-direction: column;
  max-height: 100%;
  & > div {
    display:flex;
    justify-content:center;
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
