@import "./sass/main";

.App {
  background-color: $primary-bg-colour;
  display: flex;//TODO: display in otherway to make cool animation depending on screen size
  flex-direction: column;
  max-height: 100%;
  & > div {
    display:flex;
    justify-content:center;
  }
}
