.btn-soon {
  position: relative;
  margin: auto;
  margin-left: -10px;
  left: 50%;
  padding: 1rem;
  font-size: 1.65rem;
  color: #FBC02D;
  border-radius: .4em;
  background-color: $primary-colour;
  text-align: center;
}
