@import "./../../sass/main";

.user-account-container {
  display: flex;
  width: 100%;
  height: 100%;
  & > div {
    width: 100%;
    display:flex;
  }
  & .logo-container {
    flex-grow: 1;
  }
}

.from-left-appear {
  display: none;
  transform: translateX(-600px);
}

.from-left-appear-active {
  transform: translateX(0px);
  transition: transform 400ms ease-in-out;
}

.from-left-enter {
  transform: translateX(-600px);
}

.from-left-enter-active {
  transform: translateX(0px);
  transition: transform 400ms ease-in-out;
}
.from-left-exit {
  transform: translateX(0px);
}
.from-left-exit-active {
  transform: translateX(-600px);
  transition: transform 600ms ease-in-out;
}
