@mixin display-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin dark-panel-bordered {
  border-radius: 7px;
  -webkit-box-shadow: -7px -5px 8px -1px rgba(0,0,0,0.41);
  box-shadow: -7px -5px 8px -1px rgba(0,0,0,0.45);
  background-color: $dark-bg;
  color: $primary-text-colour;
}

@mixin DEBUG_box($color) {
  border: solid $color 2px;
}
