$primary-bg-colour: #525050;

$light-grey: #6E6E6E;
$dark-grey: #3B3B3B;
$dark-bg: #262626;
$primary-line-colour: #707070;
$primary-blue-color: #5586E7;

$red-error: #e80800;


$DEBUG_color_bg: #1b6d85;
