@import "./../../sass/main";

.account-settings-panel-container {
  margin: 20px 20px 20px 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  -webkit-box-shadow: -7px -5px 8px -1px rgba(0,0,0,0.41);
  box-shadow: -7px -5px 8px -1px rgba(0,0,0,0.45);
  background-color: $dark-bg;
  color: $primary-text-colour;
  font-family: $primary-text-font;
  text-align: center;
  flex-grow: 1;
  & h1 {
    font-size: $post-title-font-size;
  }
  & section {
    text-align: left;
    & h2 {
      margin: 5px 5px 5px 30px;
      color: $grey-text-colour;
      font-size: $s_settings-acc-sub-title;
    }

    & .settings-field-container {
      border-bottom: solid 2px $light-grey;
      border-top: solid 2px $light-grey;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: $dark-grey;
      margin-bottom: 5px;
    }
    & form {
      & button {
        margin-left: auto;
      }
    }
  }
}
