@import "./../../sass/main";

.header-container {
  background: $dark-grey;
  position: sticky;
  top: 0;
  z-index: 99;
  & .upper-row {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    & .round-icon {
      & img {
        max-height: 32px;
        max-width: 32px;
        margin: 5px;
        //padding: 3px 3px 15px 15px;
      }
    }
    & #search {
      margin: 5px;
      & input {
        color: $primary-text-colour;
        font-size: 16px;
        min-height:30px;
        background: $light-grey;
        border: $primary-line-colour solid 2px;
        border-radius: 5px;
        padding-left: 20px;
      }
      & .search-list-result {
        position: absolute;
        top: 29px;
        left: 0;
        right: 0;
        z-index: 1;
        border-radius: 5px;
        background: $light-grey;
        padding-bottom: 4px;
        & li {
          margin: 7px;
          list-style-type: none;
        }
      }
    }
  }
  & .tab-row {
    & #home-tab {
      display: flex;
      justify-content: center;
      padding-bottom: 12px;
      border-bottom: solid 2px $grey-text-colour;
      & .line {
        height: 2px;
        position: absolute;
        bottom: 0;
        margin: 10px 0 0 0;
        background: #FF1847;
      }
      & ul {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        & li {
          flex-grow: 1;
          margin: 0 40px 0 0;
          opacity: .4;
          transition: all 0.4s ease;
          &:hover {
            opacity: .7;
          }
          &.active {
            opacity: 1;
          }
          &:last-child {
            margin-right: 0;
          }
          & button {
            font-size: $s_tab-font-size;
            background: none;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
}
