$disabled-btn-color: #25376e;
$disabled-txt-color: #bebebe;

button {
  font-size: $s_btn-font-size;
  background-color: $primary-blue-color;
  border: none;
  color: $primary-text-colour;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  &:disabled {
    background-color: $disabled-btn-color;
    color: $disabled-txt-color;
  }
}

button {
  &.arrow {
    border-radius: 1px;
    height: 20px;
    width: 10px;
    background: none;
    border: solid $grey-text-colour;
    border-width: 0 5px 5px 0;
    display: inline-block;
    margin-bottom: 10px;
    outline: none;
  }

  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

#first-time-btn {
  width: 100%;
  font-size: $s_btn-font-size;
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  color: $primary-text-colour;
  font-style: italic;
  cursor: pointer;
  overflow: visible;
}

#return-btn {
  background-color: $primary-line-colour;
}

#close-btn {
  margin: auto;
  width: 25px;
  height: 25px;
  & > .close-btn-bar {
    height: 25px;
    width: 2px;
    background-color: white;
    transform: rotate(45deg);
    Z-index: 1;
    & > .close-btn-bar2 {
      height: 25px;
      width: 2px;
      background-color: white;
      transform: rotate(90deg);
      Z-index: 2;
    }
  }
}

#delete-btn {
  background-color: #e90022;
}

.delimiter-point {
  content: '';
  background: $grey-text-colour;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 9px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 1;
}

